<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Test</title>
    <link rel="stylesheet" type="text/css" href="/v1/widget/css">
</head>
<body style="background-color: #e5e7eb">
<crypto-oris
        api-key="3f5e1510bbd863fde0c3dd9fcde921cd3be646e3815af636d9c4ad938a1ad057"
        merchant-id="de80eb3c-eaef-4864-ad31-e87603ef57f7"
        client-id="53965"
        order-id="54247"
        network="5010"
        token="usdt"
        amount="68"></crypto-oris>
<script src="/v1/widget/js"></script>
</body>
</html>